## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../WeatherPy_database.csv")
city_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Ushuaia,AR,-54.8000,-68.3000,42.46,65,40,6.91,scattered clouds
1,Porto Nacional,BR,-10.7081,-48.4172,78.80,30,0,3.33,clear sky
2,Cape Town,ZA,-33.9258,18.4232,57.88,83,40,3.00,scattered clouds
3,Saint-Philippe,RE,-21.3585,55.7679,67.59,76,1,7.58,light rain
4,Crossville,US,35.9490,-85.0269,79.43,58,1,9.22,haze

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you can accept?'))
max_temp = float(input('What is the maximum temperature you can accept'))

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
city_data_df = city_data_df.loc[(city_data_df['Max Temp']<max_temp)&(city_data_df['Max Temp']>min_temp)]
city_data_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,Saint-Philippe,RE,-21.3585,55.7679,67.59,76,1,7.58,light rain
5,Ghoti,IN,19.7168,73.6245,70.75,97,100,12.82,overcast clouds
6,Port Alfred,ZA,-33.5906,26.8910,67.24,32,0,7.20,clear sky
8,Souillac,MU,-20.5167,57.5167,70.18,64,20,10.36,few clouds
9,Albacete,ES,38.8333,-2.0000,73.18,56,0,10.36,clear sky
...,...,...,...,...,...,...,...,...,...
677,Guiratinga,BR,-16.3494,-53.7583,74.30,30,56,3.74,broken clouds
680,Aljezur,PT,37.3191,-8.8033,64.36,80,74,13.67,broken clouds
684,Toru≈Ñ,PL,53.0137,18.5981,63.52,81,100,0.98,overcast clouds
687,Arrondissement de Bastia,FR,42.6667,9.3333,74.30,60,0,3.44,clear sky
688,Kangaba,ML,11.9333,-8.4167,73.83,92,93,4.09,overcast clouds

In [6]:
# 4a. Determine if there are any empty rows.
city_data_df.count()

City                   248
Country                247
Lat                    248
Lng                    248
Max Temp               248
Humidity               248
Cloudiness             248
Wind Speed             248
Current Description    248
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn‚Äôt have empty rows.
clean_df = city_data_df.dropna()
clean_df.count()

City                   247
Country                247
Lat                    247
Lng                    247
Max Temp               247
Humidity               247
Cloudiness             247
Wind Speed             247
Current Description    247
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Saint-Philippe,RE,67.59,light rain,-21.3585,55.7679,
5,Ghoti,IN,70.75,overcast clouds,19.7168,73.6245,
6,Port Alfred,ZA,67.24,clear sky,-33.5906,26.8910,
8,Souillac,MU,70.18,few clouds,-20.5167,57.5167,
9,Albacete,ES,73.18,clear sky,38.8333,-2.0000,
12,Jamestown,US,73.18,few clouds,42.0970,-79.2353,
15,Biu,NG,71.10,overcast clouds,10.6129,12.1946,
17,Deggendorf,DE,61.50,light rain,48.8333,12.9667,
18,Salamanca,ES,69.58,overcast clouds,40.8333,-6.0000,
19,Kontagora,NG,73.15,overcast clouds,10.3999,5.4695,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?'
    params['location'] =f'{lat},{lng}'
    # 6e. Make request and retrieve the JSON data from the search. 
    try:
       hotel_info = requests.get(base_url,params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
       hotel_df.loc[index,'Hotel Name'] = hotel_info['results'][0]['name']
    except(IndexError):
        print('----No hotel find----')

----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----
----No hotel find----

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df['Hotel Name']!='']
clean_hotel_df.count()

City                   214
Country                214
Max Temp               214
Current Description    214
Lat                    214
Lng                    214
Hotel Name             214
dtype: int64

In [11]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} ¬∞F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))